<!-- <h1>Hello world</h1>
<h2>{{title}}</h2>
<h2>{{jsonValue|json}}</h2>
<button (click)="handleEvent()">Preess the buuuton</button> -->
<!-- <input placeholder="user" [(ngModel)]="user.name"/>
<input placeholder="age" [(ngModel)]="user.age"/>
<input placeholder="id" [(ngModel)]="user.id"/>
<ng-container *ngIf="showUser">
    <app-user [user]="user" (userEvent)="handleAnotherEvent($event)"></app-user>
</ng-container>
<ul *ngFor="let item of (posts | async)let i=index">
    <li>{{i}}</li>
    <li>{{item.userId}}</li>
    <li>{{item.title}}</li>
    <li>{{item.body}}</li>

</ul> -->
<a routerLink='/first'>First</a><br>
<a routerLink='/second'>second</a><hr>
<button mat-raised-button color="accent" (click)="updateName()">second</button><hr>
Favorite Color: <input type="text" [formControl]="testProp" name="testProp"><hr>
{{testProp.value}}
<!-- <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container> -->
<div>
    <form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName"><hr>
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName"><hr>
  
  </form>
</div>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<router-outlet></router-outlet>

